@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  scroll-behavior: smooth;
}
body{
  background: #040C18;
}

.model__shadow{
  clip-path: ellipse(60px 20px);
  width: 100%;
  height: 100%;
}

.rgb::after{
  content: "";
  background: linear-gradient(45deg,
  #AE67FA 0%,
  #1BF1FF 10%,
  #AE67FA 20%,
  #1BF1FF 30%,
  #AE67FA 40%,
  #1BF1FF 50%,
  #AE67FA 60%,
  #1BF1FF 70%,
  #AE67FA 80%,
  #1BF1FF 90%,
  #AE67FA 100%)
  repeat 0% 0% / 100% 100%;
  position: absolute;
  inset: -3px;
  filter: blur(3px);
  z-index: -1;
  border-radius: 10px;
  animation: rgbActive 6s linear infinite;
  opacity: 1;
}
@keyframes rgbActive {
  0% {background-position: 0% 50%};
  50% {background-position: 100% 50%};
  100% {background-position: 0% 50%};
}


.toaster {
  max-width: 300px;
}
.Toastify__progress-bar-theme--dark {
  background: linear-gradient(to right, #AE67FA, #1BF1FF);
}
.Toastify__toast-theme--dark.Toastify__toast--success,
.Toastify__toast-theme--dark.Toastify__toast--error {
  border-radius: 5px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  background: rgba(49, 49, 49, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.34);
  backdrop-filter: blur(3.1px);
  -webkit-backdrop-filter: blur(3.1px);
}
@media screen {
  
}